.tooltip {

	$tooltip-triangle-size: 6px;
	$tooltip-offset: 2px;

    position: absolute;
    top: auto;
    right: auto;
    bottom: 100%;
    left: 50%;
    margin-bottom: $tooltip-triangle-size + $tooltip-offset;
	padding: 6px 10px;
    box-sizing: border-box;
    font-size: 9px;
    line-height: 1.4;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    opacity: 0;
    transform: scale(0);
    transform-origin: center bottom;
    transition: opacity 0.1s,
                transform 0.0s cubic-bezier(0.175, 0.885, 0.320, 1.175);
    background-color: #333;
    color: #fff;
    border-radius: 2px;
    pointer-events: none;

    &:after {
    	content: "";
	    position: absolute;
	    left: 50%;
	    bottom: -$tooltip-triangle-size;
	    margin-left: -$tooltip-triangle-size;
	    margin-bottom: 0;
	    width: 0;
	    height: 0;
	    border-left: $tooltip-triangle-size solid transparent;
	    border-right: $tooltip-triangle-size solid transparent;
	    border-top: $tooltip-triangle-size solid #333;
    }

	//Extensions
	&.ext-east {
	    top: 50%;
	    right: auto;
	    bottom: auto;
	    left: 100%;
	    margin-left: $tooltip-triangle-size + $tooltip-offset;
	    margin-bottom: 0;
	    transform-origin: left center;

		&:after {
		    top: auto;
		    right: auto;
		    bottom: 50%;
		    left: -$tooltip-triangle-size;
		    margin-bottom: -$tooltip-triangle-size;
		    border-top: $tooltip-triangle-size solid transparent;
			border-right: $tooltip-triangle-size solid #333;
		    border-bottom: $tooltip-triangle-size solid transparent;
		}
	}
	&.ext-west {
	    top: 50%;
	    right: 100%;
	    bottom: auto;
	    left: auto;
	    margin-right: $tooltip-triangle-size + $tooltip-offset;
	    margin-bottom: 0;
	    transform-origin: right center;

		&:after {
			top: auto;
		    right: -$tooltip-triangle-size * 2;
		    bottom: 50%;
		    left: auto;
		    margin-bottom: -$tooltip-triangle-size;
		    border-top: $tooltip-triangle-size solid transparent;
		    border-bottom: $tooltip-triangle-size solid transparent;
			border-left: $tooltip-triangle-size solid #333;
		}
	}
	&.ext-south {
	    top: 100%;
	    right: auto;
	    bottom: auto;
	    left: 50%;
	    margin-top: $tooltip-triangle-size + $tooltip-offset;
	    margin-bottom: 0;
	    transform-origin: center top;

		&:after {
		    top: -$tooltip-triangle-size;
		    bottom: auto;
		    border-top: 0px;
		    border-right: $tooltip-triangle-size solid transparent;
		    border-bottom: $tooltip-triangle-size solid #333;
		    border-left: $tooltip-triangle-size solid transparent;
		}
	}
	&.visible {
	    opacity: 1;
	    transform: scale(1);
	    transition-duration: 0.1s, 0.2s;
	}
}